[2018-05-16 09:11] Gab-Metzger-Melpia opened #1 "Error during initialization"
Hello Arnaud,

Thanks for your awesome matomo wrapper.
I'm trying to use it but I have a small error when the matomo code is injected.

I'm getting `GET https://analytics.changr.com/piwik.js 0 ()`

I used the injector as following:
`this.matomoInjector.init('https://analytics.changr.com/', environment.MATOMO_SITE_ID);`

Do you have any idea of the origin of my issue?

Thanks a lot,
Gabriel

[2018-05-16 09:42] Gab-Metzger-Melpia commented on #1
Nevermind, this issue was raised because of my adblocker. Good to know :)

[2018-05-16 09:42] #1 closed

[2018-05-16 09:54] Arnaud73 commented on #1
No problem :)

FYI, beware also of DNT (by default, Matomo drops all calls when DNT is set to true).

[2018-05-16 09:57] Gab-Metzger-Melpia commented on #1
Yes I saw that, thanks!

[2018-07-18 12:23] agims7 opened #2 "npm warn for angular > 6.0.0"
H Arnaud,

We recently updated our project to the newest version and during installation we are getting npm warn:

```npm WARN ngx-matomo@0.1.0 requires a peer of @angular/core@>=5.0.0 <6.0.0 but none is installed. You must install peer dependencies yourself```

Our angular version is -> ```"@angular/core": "6.0.7"```

Is it possible to fix thix warning?

[2018-07-18 15:23] Arnaud73 commented on #2
Hi Michal,

I know this issue (my project has been migrated some time ago to Angular 6). I'm going to fix it is August (I want to test how Angular CLI 6 handles library projects).

In the meantime, this is just a warning, but the library as it is built is fully compatible with Angular 6.

[2018-08-02 21:00] Arnaud73 commented on #2
Now fixed in 0.1.1 :) :)

[2018-08-02 21:00] #2 closed

[2018-08-03 05:36] agims7 commented on #2
Perfect :) but there is one problem npm is still now up to date or it has some cache..

When trying to install latest version there is still 0.1.0 and when manually changing to 0.1.1 there is warning that version not found.

![zaznaczenie_017](https://user-images.githubusercontent.com/18736434/43625918-d191339e-96ef-11e8-95b8-00d1035290c2.jpg)

[2018-08-09 07:16] mpisters opened #3 "Possibility to add tracking for form analytics"
Would it be possible to add a function to do form analytics with matomo.  I have read the guide and I don't think it would be too hard to implement.
https://developer.matomo.org/guides/spa-tracking

It should include this function:
`_paq.push(['FormAnalytics::scanForForms', documentOrElement]);`

[2018-08-09 09:15] Arnaud73 commented on #3
I'll look into it!

[2018-08-09 10:11] mpisters commented on #3
I found out that for manually tracking one form that you should use:

`_paq.push(['FormAnalytics::trackForm', documentOrElement]);`

and to track a submit:
`_paq.push(['FormAnalytics::trackFormSubmit', document.getElementById('login')])`

Found in doc: https://developer.matomo.org/guides/form-analytics/faq

[2018-08-20 12:54] Arnaud73 opened #4 "Exclude routes from automatic pageview tracking"

[2018-08-20 12:54] Arnaud73 opened #5 "Remove ID's from url paths"

[2018-08-20 12:54] Arnaud73 opened #6 "Remove Query Params from url paths"

[2018-11-21 10:32] mjehle82 opened #9 "Update to Angular 7"
Can you please update the project to Angular Version 7?
I've tried with a pull request but am obviously getting some errors in the build pipeline that I am unable to resolve...
An update would be greatly appreciated!
Cheers, Mike

[2018-12-04 08:03] agims7 commented on #9
+1 current version suppoer only 7.0.0 version of angular
`"peerDependencies": {
        "@angular/core": ">=5.0.0 <7.0.0"
    },`

please update it

[2019-03-07 22:56] VamsiDevalla opened #12 "trackSiteSearch does not add search count when count is 0"
When using the trackSiteSearch method, If we pass ) the method won't add search count to matomo url because of the inner logic:

The logic used is:
[code]
In the above code, if condition never gets satisfied when resultsCount is 0 beacuse:
[code]
So you can use some thing like:
[code]

I have created a pull request for this: [Here](https://github.com/Arnaud73/ngx-matomo/pull/11)

[2019-03-12 12:16] micheladennis commented on #9
Have the same issue

[2019-03-27 21:19] JohnSeals opened #13 "Error During Testing"
I'm running ngx-matomo 0.1.2 using Angular CLI: 7.3.6, Node: 10.13.0, and Angular: 7.2.9. It works great but on only one of my tests (using "ng test"). Every other component test passes just fine. This one test only always fails with this error:
`TypeError: Cannot read property 'push' of undefined
    at MatomoTracker.push../node_modules/ngx-matomo/ngx-matomo.es5.js.MatomoTracker.setDocumentTitle

[2019-03-28 09:05] Arnaud73 commented on #13
I guess the Tracker is not injected in your test configuration, resulting in the global _paq object of Matomo not being available, then failing on setDocumentTitle.

[2019-03-28 09:06] Arnaud73 commented on #12
Hello,

Thanks for the bug report. I checked my code and I made the same mistake at least at one other place. I'm going to recheck the whole code and provide a fix.

[2019-03-28 15:01] VamsiDevalla commented on #12
I gave a PR for this issue if you wanted to merge

[2019-03-28 15:13] JohnSeals commented on #13
Thanks for the very quick response! I thought that might be he case but I have imported Matomo Module:
`import { MatomoModule } from 'ngx-matomo';`
and added it to the imports:
`beforeEach(async(() => {
    TestBed.configureTestingModule({
      declarations: [ ApiDetailComponent ],
      imports: [
        HttpClientTestingModule,
        RouterTestingModule,
        AppRoutingModule,
        Scr

[2019-04-03 11:58] Arnaud73 commented on #13
You indeed included the module, but in your case, there is no call to the `init`method of the `MatomoInjector` which has the responsability to inject the real Matomo tracker in the page. This call creates the global `_paq` object for Matomo.
In you case, when your component call setDocumentTitle, it fails since `_paq` does not exist.

2 solutions:
* Get the MatomoInjector inject the Matomo tracker

[2019-04-03 13:01] #9 closed

[2019-04-03 13:02] Arnaud73 commented on #9
Latest releases of ngx-matomo support all Angular 7 releases. Please check that you are using an up to date version.

[2019-04-03 14:36] Arnaud73 commented on #12
Thanks for the bug report and the PR!

This bug, and several similar ones have been fixed in release 0.1.3.

[2019-04-03 14:36] #12 closed

[2019-04-05 16:12] JohnSeals commented on #13
Thanks so much for your quick reply and assistance!

[2019-04-05 16:12] #13 closed

[2019-05-10 09:09] Arnaud73 opened #14 "Tracker get functions return incorrect data"
Following tracker methods return incorrect data:
- getPiwikUrl
- getCurrentUrl
- getLinkTrackingTimer
- getVisitorId
- getVisitorInfo
- getAttributionInfo
- getAttributionCampaignName
- getAttributionReferrerTimestamp
- getAttributionReferrerUrl
- getUserId
- getCustomVariable
- getCustomDimension
- hasCookies

[2019-05-10 09:20] #14 closed

[2019-05-28 15:36] Findus23 opened #15 "Add to Matomo integration page"
Hi,

Thanks for creating this library. I have added it to the Matomo integration page:
https://matomo.org/integrate/

[2019-05-28 15:36] #15 closed

[2019-06-17 19:34] alialrabi opened #16 "Tracking Video"
How can i make tracking video ?

[2019-06-19 15:13] Arnaud73 commented on #16
Hello,

Currently, I haven't implemented yet Media Analytics (and Form Analytics) but it is on my todo list.

In the meantime, you can use Media Analytics tracking like you would in an HTML (once the tracker is injected).

[2019-06-19 21:37] ambroiseRabier opened #17 "Does it track routing"
Does it automatically tracks angular routing? If not by default, how do you do it (would be a nice add to the README).

[2019-06-19 21:38] ambroiseRabier opened #18 "UserId"
There is this line `this.matomoTracker.setUserId('UserId');`, is the string UserId supposed to be replaced by your own userId ? What are the recommendation for that, and hash stored on localStorage ?

[2019-06-20 07:44] Arnaud73 commented on #18
Hello,

Yes, `UserId` is left up to you. It is used to track the id of the user connected to your application.

Check https://matomo.org/docs/user-id/ for more information about how Matomo handles it. ngx-matomo provides a simple wrapper around the Matomo function.

[2019-06-20 07:44] #18 closed

[2019-06-20 07:46] Arnaud73 commented on #17
It is a feature that I will provide (almost ready), however, since it is going to require RxJS as a peerDependancy, it will break the compatibility between Angular 5 and later releases. That's the reason why I defered its implementation.

[2019-07-09 20:13] SublimeProphets commented on #17
First of all: thank you a lot for developing this great library.
second, I'd also appreciate that functionality, i think that must be useful for like 80% of the users.
However, instead of delaying the implementation, you could may just ignore angular5, they could probably use the rxjs-compat to make it run.

[2019-07-13 07:25] ambroiseRabier commented on #17
I have rebased my pull request, can you please review it? There is page tracking instructions on it.

[2019-08-04 21:45] ambroiseRabier commented on #17
I have made my own version of this lib with route tracking [here][https://github.com/ambroiseRabier/ngx-matomo] for anyone interested.

[2019-08-08 11:52] Arnaud73 opened #21 "Add support for consent management"

[2019-09-04 11:42] benzmarkus opened #22 "Support to track events with string values"
I currently it is only supported to track numeric values.
Matomo supports string values to.

[2019-09-10 15:29] Arnaud73 commented on #22
Matomo documentation specifically describes values as being numeric.

Can you describe your use case where you would like to use regular strings as values for events ?

[2019-09-23 03:37] alljamin opened #23 "The code in the demo seem to be not correct"
In `app.component.ts` you have:
[code]
Which will result in the following error:

Is this the correct usage?
[code]

[2019-09-23 08:44] alljamin commented on #23
Just realised that the change has been merged but not published. Do you think you can get around to publishing it sometime soon @Arnaud73?

[2019-10-01 09:03] Arnaud73 commented on #23
Hello,

Yes, there are many updates that are still not published, especially since I'm finishing the work towards release 1.0 which will be a big evolution, with simpler usage yet more powerful.

I will hopefully finish the work in the coming weeks, yet, I can't find as much time as I would like.

If you would be interested into testing a beta of this version, let me know!

[2019-10-01 09:03] #23 closed

[2019-10-18 15:10] thesignal opened #25 "removeEcommerceItem does not exist"
Hi,

it seems that the `removeEcommerceItem` function is not implemented. Could you add it?

Or is there a reason why it's not implemented? (`addEcommerceItem` and `trackEcommerceCartUpdate` are there)

Regards,

Philipp

[2019-10-30 19:45] Arnaud73 commented on #25
Hi,

I got the list of function from a page that should have listed all the functions of the tracker. However, I already discovered some that were missing. You managed to add one to the list.

I'm going to implement this function as well.

Thanks for notifying it!

Arnaud

[2019-10-30 20:01] Arnaud73 commented on #25
Also, functions `clearEcommerceCart` and `getEcommerceItems` were also missing. They shall be included as well in a later release.

[2019-10-31 05:43] thesignal commented on #25
Great, thanks!

[2019-11-19 17:48] fredericg78 opened #28 "trackPageView"
Hi,
something is not clear for me. Is it necessary to call matomoTracker.trackPageView() to track a page view ? It seems it is to see it in the matomo dashboard.
Example of code (Angular 8):
`
constructor(private matomoTracker: MatomoTracker, private userService: UserService) { }

trackPageViewToMatomo(router: Router, route: ActivatedRoute) {

const pageUrl = router.url;
const pageComponent = rout

[2019-11-20 07:51] antomelvin opened #29 "A/B testing plug-in functions"
Hello,

I'm trying to use the Matomo A/B testing plug-in for Angular.
Will you be adding the plug-in functions too in the next release?
Thanks.

[2019-11-27 11:27] Arnaud73 commented on #28
That is curious, your code seems to be OK. You could maybe call setUserId only when a new user logs in, but that is not going to change the behavior you observe.
If it freezes during the call to trackPageView, and if the tracker is already fully loaded and operational (it's asynchronous), then, it means that it freezes in Matomo's code, else, it's freezing on a push in an array which is quite unli

[2019-12-03 10:41] mgohin commented on #28
We just had a similar issue with browser freeze, cause by a matomo call never ending.
I described the issue in matomo repo : https://github.com/matomo-org/matomo/issues/15229

You should check your html structure to check if there is something like us.

[2019-12-03 21:08] Arnaud73 commented on #28
Thanks @mgohin for this related issue. I'm curious to know if your problem is being solved by switching the renderer to Ivy. It would not be an ideal solution, but would rather indicate that the problem is partially linked to the code generated by the renderer. Also, keep in mind that Ivy shall be the new default renderer in Angular 9.

[2019-12-04 08:37] mgohin commented on #28
I'll answer in matomo's issue while we are investigating, I'm not sure your plugin is responsible

[2019-12-04 09:35] Arnaud73 commented on #28
I agree this is very unlikely related to my plugin, since it does not interfere in this example: the Matomo tracker works on its own in this scenario, so it's a problem between the Matomo tracker and the compiled Angular template.

However, since two of you experienced the same problem, I'm have a look at it, at least to be able to give hints or solutions to future similar problems.

[2019-12-19 12:00] kombasltd commented on #28
I face similar issues with looping matomo requests.

And for me the same question: I setup matomo in my app.component.ts

[code]
Do I need to call this in every component I have? I work with child components and in my onInit I have always:

[code]

[2019-12-19 12:27] Arnaud73 commented on #28
Hi @kombasltd,

First, you must only use the injector once : it adds the Matomo tracker directly into the DOM. I have tested multiple injections, but it may have side-effects.

Then, you only call `trackPageView` (and other related calls) when you want to have a page view tracked. As a result, it shall only occur when the user changes the route. Next release of ngx-Matomo will provide a way to aut

[2019-12-19 12:48] kombasltd commented on #28
The problem seems to occur if you NOT change the route but the content via a route parameter. Let's say there is a component to show pages within my website.

https://mywebsite/home/page1
https://mywebsite/home/page2

And the route is
[code]
So the onInit tracking is only working for "page1", because onInit is only called once as long as the component is not destroyed.

If I change the parameter t

[2020-02-19 00:34] MaitreDede opened #32 "v0.1.4 : make a new tag to allow SSR fix"
Hi,
I am using your library at v0.1.4, the latest tag at time of writing.
It is possible to release a new tag so the SSR fix would be available ?
Thanks :)

[2020-03-10 08:17] fgubler opened #33 "Support of Angular 9"
Angular 9 has some very nice new features such as the new Ivy compiler reducing app-size and also support for newer versions of TypeScript.

It would be awesome if ngx-matomo would support the new version.

[2020-03-12 06:03] alex-steinberg commented on #22
I would also like this ability. Data is both quantitative and qualitative and without strings, we can't track qualitative data without complex mapping of numbers to strings.

We have an app that connects to a number of different back-end instances, each of which has a string identifier. I would like to attach this identifier to each event, along with other metadata. The only way to do that current

[2020-03-13 10:17] alex-steinberg opened #35 "Pass Custom Dimension data with each request"
Add the ability to send Custom Dimension data [with each request](https://developer.matomo.org/guides/tracking-javascript-guide#tracking-a-custom-dimension-across-tracking-requests) as opposed to having to set and delete globally per page with `setCustomDimension` and `deleteCustomDimension` before and after each request.

[2020-03-18 15:53] ddelabru opened #37 "Matomo initilization hangs when Heatmap & Session Recording plugin is enabled on Matomo server"
When the the Heatmap & Session Recording plugin is enabled on the Matomo server, the ngx-matomo initialization method retrieves and attempts to execute a `configs.php` file from the Matomo server containing a single line of JavaScript which class a method of the `Piwik` object. This call tends to hang indefinitely, driving up CPU usage and crashing our Angular app. Indeed, if I simply try to inspe

[2020-03-25 15:14] fredericg78 commented on #28
Hi, i tried different things but the same issue occurs again, only on firefox. On chrome version 80.0.3987.149, it works. On firefox, after a manual stop of the javascript process which hangs the browser (does not occur if i remove the trackPageView call), here is the stacktrace:
 Error: Script terminated by timeout at:
__read@http://localhost:4200/polyfills.js:6155:17
__spread@http://localhost:42

[2020-03-25 18:10] ddelabru commented on #37
Upon further investigation we determined that the `trackPageView()` method was being called very close to the time that the initialization was performed, and that if we stopped calling this method altogether the issue stopped.

Ultimately, for our own project we resolved the issue by following the instructions for single-page application tracking with the Heatmaps & Session Recording plugin, using

[2020-04-08 16:17] pam81 opened #38 "Could it using an old version of the code?"
Hi I review the code and it's adding piwik.js like this

g.src = !!scriptUrl ? scriptUrl : u + 'piwik.js';

but the new code is adding matomo.js

g.src=u+'matomo.js';
Is it working right?

[2020-05-04 09:50] Arnaud73 commented on #33
Version 1.0 that will reach RC in the next few days is targeted for Angular 9 first.

Stay tuned :)

[2020-05-04 09:50] #33 closed

[2020-05-04 10:00] Arnaud73 commented on #38
Hi,

I had this discussion with the Matomo team some time ago (https://forum.matomo.org/t/tracking-code-evolutions/33247). The old URLs (with `piwik` instead of `matomo`) are working for old and new instances of Matomo, whereas the `matomo` ones only work in new instances. As a result I'll stick with the old ones since they work for everybody.

In the coming 1.0 release, injecting the tracker has

[2020-05-04 10:00] #38 closed

[2020-05-04 10:20] fgubler commented on #33
That is great news! Thanks a lot.

[2020-05-04 12:29] Arnaud73 commented on #29
I plan to integrate those features once I have released version 1.0, which is big modification of how Matomo is being integrated.
Stay tuned :)

[2020-05-04 12:29] #29 closed

[2020-05-04 12:57] Arnaud73 commented on #22
I'll have a look at it.

[2020-05-05 16:23] cahergil commented on #33
I am using this package for Matomo and Angular 9, and it seems to be working ok, except to the tracking of events that are not shown in the **Behaviour->Events** section, may it be related to this package not being yet updated to Angular 9? Thanks in advance!

[2020-06-08 10:09] wmadev commented on #33
Any news on the release date of a version supporting Angular 9?

[2020-06-30 12:07] matcho opened #41 "Option to disable tracking when Angular is in dev mode"
Hi,

Could it be possible to add an option (or make it a default behaviour) that stops tracking when Angular app is in dev mode ? Of course all `trackPageView()` calls can be surrounded by a test `if (! isDevMode())` but this impacts readability, and it seems quite natural not to track page views generated by the developer's work.

What makes me ask for this feature is the following issue I ran in

[2020-07-16 14:06] sergiotome opened #44 "Doesn't work for Angular 10"
Even though the readme says that this works with Angular 5, 6, 7 and 8, I managed to install it on an angular 9 app with no problems.  Now that Angular 10 is out there, is there any plan to make it compatible with Angular 10?

[2020-07-16 14:07] sergiotome commented on #44
By the way, this is what I get when I try to upgrade an app from Angular 9 to 10

![image](https://user-images.githubusercontent.com/16870246/87681034-6c991580-c77e-11ea-8b7b-52044aaf944b.png)

[2020-07-17 15:03] Turom opened #45 "Support for multiple tracker instances / addTracker"
Greetings,

The library doesn't seem to support the `addTracker` command and a way to handle multiple trackers from different servers.

See https://developer.matomo.org/guides/tracking-javascript-guide#multiple-piwik-trackers

Is there a way to handle this and create multiple tracker instances with the current implementation?

Cheers

[2020-07-27 15:17] xaviergxf commented on #44
any news about this? I have only a warning when doing a npm install:

npm WARN ngx-matomo@0.1.4 requires a peer of @angular/core@>=5.0.0 <9.0.0 but none is installed. You must install peer dependencies yourself.

[2020-07-28 12:54] suppadeliux opened #46 "All requests to piwik/matomo are blocked by ad blockers"
Trying to implement this in my angular application, but I was only able to do it after disabling my ad blocker.

I am using ublock.

Does any body know how to track the visit without having to disable ad blockers?

I saw some threads about this, in the matomo repo, but nothing helped me since I am using ngx-matomo.

thanks

[2020-08-02 09:32] Javarome commented on #44
Seems to work if your `--force` it.

[2020-08-18 13:52] egesu commented on #46
Maybe using same top-level domain for matomo and your website? But this is not an issue about this package.

[2020-08-20 15:25] Arnaud73 commented on #45
Hi @Turom Turom,

This feature is already developed and will be in the new release of the library (1.0) that will update the way the tracker is loaded and initialized.

This implementation will enable you to declare multiple trackers when loading the module. However, I did not consider that people would like to add additional trackers later on. Would that cover your need?

[2020-08-28 13:55] sbley commented on #46
There is a German post about this here: https://christianmochow.de/beitraege/tools/catch-me-if-you-can-adblocker-umgehen-mit-matomo/
But as said before, this is not an issue of ngx-matomo.

[2020-08-28 13:58] sbley commented on #44
@Arnaud73 Could you consider publishing a compatibility update for Angular 10 prior to releasing 1.0?

[2020-10-16 15:06] cwalker67 commented on #13
@JohnSeals - would you mind posting an example of how you solved this error.  I'm having the same problem but can't seem to get the fix right.

Thanks

[2020-10-16 17:46] JohnSeals commented on #13
I’ll have to try and find the code! Be glad to post it when I track it down. 😀

[2020-10-23 07:42] 164424-RoshanKanwal commented on #13
@Arnaud73
Can you elaborate the solutions. Even I am facing the same issue.
![image](https://user-images.githubusercontent.com/44638941/96970472-5f37b800-1531-11eb-8c21-3efd83a02e70.png)

[2020-12-22 13:24] ArnaudPel opened #50 "Is this repo still maintained ?"
I am considering Matomo to monitor our Angular (11) app. This repository is the reference provided on their [integration page](https://matomo.org/integrate/).

Yet I seem to notice that:
- the last commit on master is 1+ year old
- the last commit on develop is 7+ months old
- the last merged PR is more than a year old (11 PR opened, most of them without reply)
- it is not clear whether milestone

[2021-01-11 18:05] tehZeno commented on #44
@electrofly maybe you can publish it? since your PR seems to not get reviewed?

[2021-01-11 18:09] tehZeno commented on #44
there is a v9 published @ https://www.npmjs.com/package/ngx-matomo-v9

[2021-01-19 08:29] electrofLy commented on #44
@tehZeno I don't really plan to support it so I don't think it would be worth publishing it myself

[2021-01-22 10:45] sbley commented on #44
Looks like this repository is not maintained anymore. Does anyone have contact to the repo owners so we can discuss how to keep development going?

[2021-04-04 16:53] dippa-1 commented on #50
Have you found an alternative for Angular 11?

[2021-04-05 12:43] ArnaudPel commented on #50
Sorry I never got round to actually integrating Matomo. My manager never replied to my questions about deploying Matomo on premises, and since then I have left that company.

If you have the means to do it, I could suggest forking this repository, and making the necessary changes to support Angular 11 yourself.

[2021-04-19 07:53] evoytenkoapps commented on #50
what about 21 day free trial account? is it enough ?

[2021-05-02 12:40] EmmanuelRoux commented on #50
Hi @ArnaudPel, @evoytenkoapps

Since this repository seems not to be maintained anymore, I decided to create from scratch a new plugin compatible with Angular 11 : https://github.com/EmmanuelRoux/ngx-matomo

I know there are many forks based on this project, but I did choose to create a new plugin from scratch, as there are some bugs and I decided to go for a completely new project structure.

Fee

[2021-05-02 12:42] EmmanuelRoux commented on #44
Hi @sergiotome, @sbley

Since this repository seems not to be maintained anymore, I decided to create from scratch a new plugin compatible with Angular 11 : https://github.com/EmmanuelRoux/ngx-matomo

I know there are many forks based on this project, but I did choose to create a new plugin from scratch, as there are some bugs and I decided to go for a completely new project structure.

Feel free

[2021-05-02 21:55] #25 closed

[2021-05-02 21:55] #45 closed

[2021-05-03 07:47] Arnaud73 commented on #46
Sorry for the late answer, but I agree with the previous replies : there is no way from the application or any used library to prevent ad-blockers from doing their job.
If you are using an ad-blocker, make sure it is deactivated on the development site you are working on.

[2021-05-03 07:47] #46 closed

[2021-05-03 07:55] Arnaud73 commented on #50
Sorry for the very long delay, I wasn't able to dedicate any time on this project this last few months.

The repo is not dead, release 1.0 was almost ready for quite some time, so I finished it and released yesterday an RC.0 : https://www.npmjs.com/package/ngx-matomo/v/1.0.0-rc.0.

This one contains all fixes that were ready to be delivered plus all the planned major features.

Version 1.0.0 will

[2021-05-03 07:55] #50 closed

[2021-05-03 08:00] Arnaud73 commented on #32
Sorry for the late answer.

SSR fix is available in https://www.npmjs.com/package/ngx-matomo/v/1.0.0-rc.0.

You can test this version right now, it shall be better than version 0.1.4.

Version 1.0 will be full released when Angular 12 is live (which shall happen this month).

[2021-05-03 08:00] #32 closed

[2021-05-03 18:51] Arnaud73 commented on #44
Sorry for the very long delay, I wasn't able to dedicate any time on this project this last few months.

Good news : release 1.0 was almost ready for quite some time, so I finished it and released yesterday an RC.0 : https://www.npmjs.com/package/ngx-matomo/v/1.0.0-rc.0.

This one contains all fixes that were ready to be delivered plus all the planned major features.

Version 1.0.0 will be officia

[2021-05-03 18:51] Arnaud73 commented on #44
Sorry for the very long delay, I wasn't able to dedicate any time on this project this last few months.
G, release 1.0 was almost ready for quite some time, so I finished it and released yesterday an RC.0 : https://www.npmjs.com/package/ngx-matomo/v/1.0.0-rc.0.

This one contains all fixes that were ready to be delivered plus all the planned major features.

Version 1.0.0 will be officially releas

[2021-05-03 18:51] #44 closed

[2021-05-04 21:11] Arnaud73 commented on #17
I know, it's been overdue, but track routing is now properly implemented.

It can be tested in the 1.0 RC release: https://www.npmjs.com/package/ngx-matomo/v/1.0.0-rc.0

Version 1.0 shall come very soon once Angular 12 is out this month.

[2021-05-04 21:11] #17 closed

[2021-05-06 06:34] martinraie commented on #41
This would be really useful feature. Previously (before 1.0.0-rc.0) I used following construct and it worked well:
[code]
In 1.0.0-rc.0 `init()` is not called by my own code anymore and some other way to achieve same behavior would be nice.

[2021-05-06 18:12] Arnaud73 commented on #41
Thanks for having given a try to the RC :-)

I understand that in certain situation you would like to disable tracking in dev mode, however, in many other situations, you might still want to have tracking, especially if you have a dedicated site id, or even a dedicated instance.

In your situation, I think I'd :

1. add the the Matomo configuration to the environment object in the environment file

[2021-05-07 06:46] martinraie commented on #41
With this setup matomo script is still initialized and tries to track pageviews and events etc. As it doesn't have correct tracking url, it just fails.
Currently I solved the problem by creating an extra site in Matomo server just for development environments. It doesn't have any analytics value but at least everything works in local machines and doesn't throw errors.

[2021-05-10 20:31] Arnaud73 commented on #41
You can have a look at https://www.npmjs.com/package/ngx-matomo/v/1.0.0-rc.1

This new release is now built with Angular 12 (RC), but shall be a drop-in replacement.

You can have a look at the demo app (https://github.com/Arnaud73/ngx-matomo/tree/master/projects/demo), I've used several configurations, one of them disabling the tracking features.

Let me know if it works for you.

[2021-05-12 01:33] mtakemoto opened #54 "Error TS2694 when building app on Angular 11"
After getting the 0.1.4 version to work in my app, I tried upgrading to 1.0.0-rc.1 and the build failed.  Found it weird that 0.1.4 worked and this didn't so I figured it's time to ask for help.  Any thoughts on the error below?  Pasted my env too.  I've tried:

1. Cleaning/reinstalling `node_modules`
2. Removing references to injector from my code

Found some other GitHub threads that have a simi

[2021-05-12 19:27] Arnaud73 commented on #54
Thank you for giving a try to the RC version :)

Regarding your issue, I would try:
* First, remove node_modules + package-lock.json / yarn.lock ; reinstall and then rebuild your app.
* Or, if the previous idea fails, replace ngx-matomo with the 1.0.0-rc.0 release which was built with Angular 11.2 (instead of 12 RC).

Let me know. If you still can not make it run, simplify your app so that it's al

[2021-05-13 18:58] mtakemoto commented on #54
Using 1.0.0-rc.0 fixed it!  Thanks for helping me out so quickly.  I'm good with using rc.0 for now, but if you need any other info to fix it for 1.0 just let me know.

[2021-05-15 11:58] Arnaud73 commented on #54
It seems that this Angular 12 lib is only going to work for Angular 12+ apps.
I guess I'm going to have to publish one 1.0 lib for Angular 9 to 11, and one 2.0 for Angular 12+.

I'll let you know, I'm going to port it on Angular 9 and test it with Angular 9, 10 and 11.

[2021-05-19 06:20] freedbrd opened #55 "Property 'forRoot' does not exist on type 'typeof MatomoModule'"
I faced the issue when I installed the ngx-module and tried to import this one.

![image](https://user-images.githubusercontent.com/45984060/118765247-78b0a080-b883-11eb-8767-94eb45302e98.png)

[2021-05-19 06:23] freedbrd commented on #55
_                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
  / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
 /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                |___/

Angular CLI: 9.1.12
Node: 14.15.4
OS: win32 x64

Angular: 9.1.12
... animat

[2021-05-19 07:24] Arnaud73 commented on #55
The reason is simple: you read the README on Github which already speaks about the new release which is not yet published as the latest release on NPM (it is still a release candidate).

Since you are using Angular 9, I'd suggest you go with version 1.0.0-rc.0 (https://www.npmjs.com/package/ngx-matomo/v/1.0.0-rc.0) which supports this platform.

Don't bother to use 0.1.4 since it is now mostly out

[2021-05-19 07:24] #55 closed

[2021-05-19 13:06] fredericg78 commented on #54
Not for me, issue remains with angular 11 whatever the version.

[2021-05-19 14:15] #21 closed

[2021-05-19 18:32] Arnaud73 commented on #54
It's very curious to have this message if not using a library built with and for Angular 12.

@fredericg78, can you give me your Angular configuration?

[2021-05-20 08:03] fredericg78 commented on #54
Here is the angular config:
{
  "name": "productName",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e",
    "postinstall": "ngcc",
    "post-build": "node ./post-build.js"
  },
  "private": true,
  "dependencies": {
    "@angular-material-components/datetime-

[2021-05-20 08:14] Arnaud73 commented on #54
I guess your problem comes from `"ngx-matomo": "^1.0.0-rc.0"` which would resolve to the rc.1 package instead.

Please try `"ngx-matomo": "1.0.0-rc.0"` instead

[2021-05-20 19:10] Arnaud73 commented on #54
I started working on release 1.0 almost 2 years ago, but I could not finish as soon as I wished. As a result I left the repo with half the work done, so many, rightfully, decided to fork it and produce their own flavor. ngx-matomo-revived is one of them, I'll have a look at all of them to get some inspiration for some missing features :)

[2021-05-20 19:10] #54 closed

[2021-06-07 07:58] blalasaadri commented on #44
@Arnaud73 Since Angular 12 has been released now, can we expect the release of version 1.0.0 soon? From what I can see, RC.1 is the latest release right now.

[2021-06-07 10:02] dtomaszewski opened #58 "No provider for Router! Angular 12 Matomo 1.0.0-rc.1"
Hi,

I have issue with routeTracking functionality in Angular 12, when I enable it to true like in README file all I get is missing Router provider error.

My deps are:

`"dependencies": {
        "@angular-devkit/schematics": "12.0.2",
        "@angular/animations": "^12.0.0",
        "@angular/cdk": "^12.0.2",
        "@angular/common": "^12.0.0",
        "@angular/compiler": "^12.0.0",

[2021-06-07 13:44] Arnaud73 commented on #44
Hi @blalasaadri , release 1.0 is almost there. I understood why I could not make the release built with Angular 12 work with Angular 9-11 apps. I still have some minors modifications to finish and check one last bug posted this morning. Release 1.0 is I hope just a few days away.

[2021-06-08 07:25] dtomaszewski commented on #22
It would be great to have it, value is often non numeric

[2021-06-08 10:29] dtomaszewski opened #59 "Use MatomoModule and MatomoTracker in external module"
Hi,

It's very often use case for global tools like WebAnalytics to create abstraction layer in app to do not stick to one solution. I try to do the same with Matomo module but I find it a bit cumbersome with current version. Issues I see is :

1) There is no way of providing configured abstract module which will internally use MatomoModule. My implementation was about to create WebAnalyticsModule

[2021-06-11 09:38] Arnaud73 commented on #58
I made some tests with my demo application and so far, it's working correctly.

Can you explain me how you load the router and ngx-matomo modules in your app?

[2021-06-16 16:32] emiltorp opened #60 "Readme instructions for configuration with Tags?"
I've gotten this embed code from our Matomo Manager, a custom Tag Manager container.

[code]

But the documentation are not clear how to configure npx-matomo with tags. I've tried this configuration but that actually froze the browser for some reason.
[code]

Sure, I can figure out trackerUrl and siteId if thats needed. But I want to configure it the "correct" way. Is Matomo tags supported?

[2021-06-16 22:52] Arnaud73 commented on #60
Hi,
Currently, in order to get it work, do not provide a `scriptUrl` in the configuration : it will make the browser load the script, which is already loaded by the code injected by your tag manager.
However, if the code behind `https://company-matomo-server/js/container_4A3s32aA.js ` is the regular Matomo tracker script, it won't define any tracker to which to send your data to. In this case (whi

[2021-06-17 07:20] emiltorp commented on #60
Already injected by your tag manager? You mean that I should embed that code on my index.html page? I thought I could just skip the provided injection code entirely when using ngx-matomo.

So this in the index.html:
[code]

And this in app.module configuration:
[code]

[2021-06-22 16:26] emiltorp commented on #60
Just as an update. I read the configuration file from our tag manager and found out that it had trackers. So what i ended up with was the following config:

[code]

The reason it didn't work the first time was that the configuration in the Tag Manager was slightly faulty, after a fix there it worked. Have just enabled routeTracking though, no custom tracking events.

[2021-06-22 16:26] #60 closed

[2021-07-27 10:26] JaapBarnhoorn opened #64 "Not updated on npmjs?"
Hi @Arnaud73, I just tried to install the package and it resolves to a 0.2.0 version by eduardmarcinco.
Maybe it's my local acting up but could you perhaps double check it's updated on npmjs properly?
https://www.npmjs.com/package/ngx-matomo

EDIT: nvm doing npm install --save ngx-matomo@v1.0.0-rc.1 fixes my problem.. not aware it was still an rc

[2021-08-03 08:27] retondong opened #65 "Enable routerTracking will throw error"
Below is error message:
`Unhandled Promise rejection: R3InjectorError(AppModule)[MatomoModule -> MatomoRouteTracker -> Router -> Router -> Router]: NullInjectorError: No provider for Router! ; Zone: <root> ; Task: Promise.then ; Value: NullInjectorError: R3InjectorError(AppModule)[MatomoModule -> MatomoRouteTracker -> Router -> Router -> Router]: NullInjectorError: No provider for Router! at NullI

[2021-08-06 11:39] khaled4vokalz commented on #58
I also get the same error when the `AppModule` doesn't use `RouterModule` and uses `UIRouterModule`.

[2021-08-25 14:42] reisi007 commented on #65
Same problem with Angular 11 and 1.0.0-rc.0 -> yarn install fails but npm install works as well!

[2021-09-15 12:12] segersrobbert opened #66 "Page views & events only visible in user profile, not registered as "Behaviour""
Running Angular 12 & ngx-matomo (1.0.0-rc.1) I’ve setup some test events and page views which are registering in the Matomo dashboard and clearly visible when I click “view user profile”. However, these navigations and events are not showing up in the “behaviour” tab under “pages” or “events”.

This is the module setup:
[code]

and on every NavigationEnd I’m logging a page view, which is being exe

[2021-09-16 09:25] segersrobbert commented on #66
Apparently this is due to Matomo "archiving" aka processing. Real time data has limited visibility. When using the cloud version only once per day (?) the tracking data is "archived" and made visible in the reports under "Behaviour" in the Matomo UI

[2021-09-16 09:25] #66 closed

[2021-10-05 08:18] VolAndriienko opened #67 "Support for Angular Universal"
Hi.

ngx-matomo is very useful library, and will be very cool to fix the errors in console when I use it with Angular Universal (server side rendering, SSR).
![image](https://user-images.githubusercontent.com/28803006/135985284-d89e9f4b-976e-46eb-ac31-096c99c7c991.png)

I am wondering why, but still it's more or less working even with errors above.

Is there some huge problems to support SSR? If y

[2021-11-01 10:03] daure commented on #67
Is there a way to just hide this warning? We have an ever growing log with this coming through as spam.
I understand why Universal might not be loaded during SSR, but I would like to remove this log statement.

[2021-11-05 11:42] nicolasalcina opened #68 "Angular 13 compatibility"
in Angular 13, NgModuleFactoryLoader was removed

See here : https://update.angular.io/?l=3&v=12.0-13.0
last point : The route package no longer exports SpyNgModuleFactoryLoader and DeprecatedLoadChildren. In case you use them, make sure you remove their corresponding import statements.

error on build :
Error: node_modules/ngx-matomo/node_modules/@angular/router/router.d.ts:21:10 - error TS2305:

[2021-11-22 22:57] sinsunsan commented on #68
Any chance to release an angular 13 version @Arnaud73?

Or @nicolasalcina  to do a fork + MR to fix the problem?

[2021-12-03 15:25] sinsunsan commented on #68
@nicolasalcina did you found solution?
I was preparing myself to do a fork and dive into the problem, but maybe it is already fixed for you?

[2021-12-06 15:51] sinsunsan commented on #68
I found those issue https://github.com/angular/universal/issues/2451
and the changelog referring to the deprecation https://github.com/angular/angular/blob/master/CHANGELOG.md#1300-2021-11-03

but I don't see any use of this deprecated import in the project....

@nicolasalcina

[2021-12-06 16:30] sinsunsan commented on #68
Ok I got it https://github.com/Arnaud73/ngx-matomo/pull/69/files
It was only needed to update the peerDependencies to angular 13 minimum in the package.json of the lib.

Here is an MR https://github.com/Arnaud73/ngx-matomo/pull/69/files

I also did a temporary deploy with name  `sinsunsan-ngx-matomo` `"sinsunsan-ngx-matomo": "0.1.5"` so that we don't need to wait @Arnaud73  to merge

[2021-12-06 20:32] nicolasalcina commented on #68
Perfect thank you
Sorry, got not enough time to watch this, I stayed in ng12 for this time ;)

[2021-12-13 15:59] yoannpicquenot commented on #28
I found myself into the same issue here, 100% cpu load and browser freeze.

![image](https://user-images.githubusercontent.com/6999772/145844976-c015875e-39de-4b9b-9ba7-239334f56024.png)

The moment I comment that `trackPageView()` line, problem's gone.

Hi, is there any update about this case?
I saw that [issue](matomo-org/matomo#15229) has been closed, but is it solve somehow?

[2022-01-04 21:13] DatzAtWork opened #70 "Can't make it add the data-cookieconsent="statistics" attribute to the script tag"
I want the generated script-tag to be extended by `data-cookieconsent="statistics"`.
This allows to deny the script if statistic cookies are not allowed by the user (GDPR).

[2022-01-18 13:37] jurizfadv commented on #68
Any update on Angular 13 compatibility?

[2022-01-25 16:03] dtomaszewski commented on #58
Hello, is there any progress here?

[2022-02-22 07:24] alvaromartmart commented on #37
Hey @ddelabru, sorry to bring this up again but I'm facing a similar issue and I don't know if it may be related to this one.
Could you just clarify one thing, if you remember about it: did this happen using the cloud version of Matomo or some on-premises installation? Thanks!

[2022-02-22 09:50] piwpio commented on #37
@alvaromartmart
I had the same issue about 6 months ago when implemented it to one of my project. Because of this error we stopped work and we planned to start write down own plugin... then we dropped idea of implementing matomo at all. Now the topic is back and I will be looking on it again. If @ddelabru will no respond I will look here in some days and will try to help you investigate it. For no

[2022-03-14 08:49] khaled4vokalz commented on #68
@Arnaud73 ,
Can you please take a look at this PR https://github.com/Arnaud73/ngx-matomo/issues/68#issuecomment-986940538? And merge if applicable?

[2022-04-04 10:48] KamranTaghaddos commented on #68
Thank you very much. You saved my day.

[2022-04-06 13:54] dana-c0914 commented on #13
We had this issue with storybook storyshots.

For us it worked to add `window._paq = window._paq || [];` in one of the stories file, write before the export.

[2022-05-10 13:34] mayur-gharat commented on #68
@sinsunsan , Is this issue resolved? I am still facing issue while upgrading my application from Agnular12 to Angular13

[2022-05-15 06:14] ambarkiy commented on #68
Does anyone know if the matomo package is maintained? Because we have been waiting for the version upgrade to Angular 13 for several months.
A pull request is in progress, but apparently the owner does not want to integrate it, or he is too busy. It's a shame, I don't think I'm the only one in this situation....

[2022-05-15 06:16] ambarkiy opened #79 "Update project dependencies to angular 13, if this is not possible we will no longer use your package"
Update project dependencies to angular 13, if this is not possible we will no longer use your package

[2022-05-15 08:06] jonhamm commented on #68
We chose to switch to @ngx-matomo/tracker
where we got an immediate fix to a configuration issue - so actively maintained!
Works perfectly and no issues found after the fix

[2022-05-15 10:42] ambarkiy commented on #68
I just looked, the package looks very elegant and intuitive.
I will integrate it in the week.

Thanks for your help.

[2022-05-18 11:37] Giovanni-NL opened #85 "How to disable link tracking?"
In matomo-configuration.ts the default setting for trackLinks is true.  Is there any way to completely disable link tracking?
I have tried to use the enableLinkTracking(false) method on the tracker, but that does not stop links from being tracked, it only seems to stop middle- and right-button mouseclicks on URLs from being tracked.

I am only interested in event logging of clicks and navigation a

[2022-05-25 06:17] devzfactor commented on #79
@ambarkiy I updated matomo to angular version 13 (we also needed this package for angular 13, and then updated, if @Arnaud73  also updates this package after this, you can switch back)
here ngx-z-matomo
https://www.npmjs.com/package/ngx-z-matomo

[2022-06-16 09:47] mldvit opened #87 "Initialize Matomo via Root Component"
I have a single page application built in Angular5, I'm using ngx-matomo vs 0.1.4.
   this.matomoInjector.init('YOUR_MATOMO_URL', YOUR_SITE_ID); gives me 404.
How can I solve the problem? It's my matomo_url or site_id incorrect?
Shall I stick to ngx-matomo vs 0.1.4. or shall I move to another version? thanks

[2022-06-17 10:43] Arnaud73 commented on #87
Hi,

If you get an error when injecting Matomo, the main reason is that the URL you provided in the `init` call is incorrect. It must refer to an existing and accessible Matomo instance, since it's going to retrieve the Motomo tracker code from this URL.

Also, Angular 5 is now quite old, you may consider to switch to Angular 14. Upgrading may not be a huge amount of work if your application was "

[2022-07-11 14:54] Arnaud73 commented on #41
Release 1.0 finaly implemented what has been suggested in RC1 : if the Matomo script URL is not provided, then the tracker is in "dummy" mode.

[2022-07-11 14:54] #41 closed

[2022-07-14 11:20] Arnaud73 commented on #64
Hi,
Sorry for the long delay.
ngx-Matomo has now been updated on NPMjs and released as 1.0 with a few modifications.

[2022-07-14 11:20] #64 closed

[2022-07-14 11:29] Arnaud73 commented on #79
Hi,
The package has been finally published as 1.0 with Angular 14 support.
If your application still relies on Angular 13, I suggest you stick with ngx-z-matomo which shall be perfectly fine.

[2022-07-14 12:11] #79 closed

[2022-07-21 06:15] lousley opened #88 "HttpRequest for trackerUrl and siteId"
Hi there
I am currently migrating from matomo 0.x to 1.0.1. In my project we get the trackerUrl and the siteId via an HttpRequest. So far i could solve this with the MatomoInjector. How can I integrate this into the forRoot? Is there any idea?

[2022-07-21 14:25] aicokleinovink commented on #88
I had the same issues with a different matomo package, but I think they do quite the same. See https://github.com/EmmanuelRoux/ngx-matomo/issues/31 for more information

[2022-07-22 08:37] lousley commented on #88
@aicokleinovink: thank you very much for your answer. Unfortunately this does not work for my project. But I am eagerly waiting for the implementation mentioned here: https://github.com/EmmanuelRoux/ngx-matomo/issues/54 and would then switch to this repo.

[2022-07-22 09:56] Arnaud73 commented on #88
Hi
Currently, there is no clean solution to your problem with the current version of this module.
However, your request is valid and could have a nice solution within the module.
Let me think about it.

[2022-07-27 10:53] jaymit-cc opened #89 "Error TS2694 when building app on Angular 9"
[code]

[2022-08-01 21:33] Arnaud73 commented on #88
@lousley, I guess you may want to fetch the complete configuration for the module from a distant server, not just the scriptUrl and siteId?

[2022-08-08 11:15] lousley commented on #88
@Arnaud73 yes that would be nice

[2022-09-12 09:58] Waterstraal commented on #88
Running into the same issue; please support dynamic configurations :).

For inspiration, you can take a look at the Deferred (asynchronous) configuration that this alternative Matomo library provides: https://github.com/EmmanuelRoux/ngx-matomo#deferred-asynchronous-configuration

[2022-10-11 08:55] mldvit commented on #87
Thank you very much for your answer.
Your reply will help me enforce the suggestion to the team to
migrate Angular.

Regards
Maria Luisa

Il giorno ven 17 giu 2022 alle ore 12:43 Arnaud Mouronval <
***@***.***> ha scritto:

[2022-11-12 13:36] tarlepp opened #91 "How to init matomo _after_ user has accepted terms?"
We've an issue because we don't want to initialize Matomo, before user has accepted the terms of service. How would we do this?

For now it looks like that init is causing that matomo is loaded _before_ user has accepted this.